# fsv configuration file
//fsv/mode = mapv
# Colours. 
/color/colormode = wpattern
/color/nodetype/blockdevice = #4CA0FF
/color/nodetype/chardevice = #00FFFF
/color/nodetype/directory = #A0A0A0
/color/nodetype/pipe = #00FF00
/color/nodetype/regularfile = #FFFFA0
/color/nodetype/socket = #FF8000
/color/nodetype/symlink = #FFFFFF
/color/nodetype/unknown = #FF0000
# Timestamp-based colours
/color/timestamp/newcolor = #FF0000
/color/timestamp/oldcolor = #0000FF
/color/timestamp/period = 604800
/color/timestamp/spectrumtype = rainbow
/color/timestamp/timestamptype = modify
# Extension-based colours
/color/wpattern/defaultcolor = #FFFFA0
# Executables and Scripts (Green)
/color/wpattern/group[0]/color = #00FF00
/color/wpattern/group[0]/wp = *.cmd
/color/wpattern/group[1]/color = #00FF00
/color/wpattern/group[1]/wp = *.exe
/color/wpattern/group[2]/color = #00FF00
/color/wpattern/group[2]/wp = *.com
/color/wpattern/group[3]/color = #00FF00
/color/wpattern/group[3]/wp = *.btm
/color/wpattern/group[4]/color = #00FF00
/color/wpattern/group[4]/wp = *.bat
/color/wpattern/group[5]/color = #00FF00
/color/wpattern/group[5]/wp = *.sh
/color/wpattern/group[6]/color = #00FF00
/color/wpattern/group[6]/wp = *.bash
/color/wpattern/group[7]/color = #00FF00
/color/wpattern/group[7]/wp = *.zsh
/color/wpattern/group[8]/color = #00FF00
/color/wpattern/group[8]/wp = *.fish
/color/wpattern/group[9]/color = #00FF00
/color/wpattern/group[9]/wp = *.ps1
/color/wpattern/group[10]/color = #00FF00
/color/wpattern/group[10]/wp = *.bin
/color/wpattern/group[11]/color = #00FF00
/color/wpattern/group[11]/wp = *.app
/color/wpattern/group[12]/color = #00FF00
/color/wpattern/group[12]/wp = *.msi

# Archives and Compressed Files (Red)
/color/wpattern/group[13]/color = #FF0000
/color/wpattern/group[13]/wp = *.tar
/color/wpattern/group[14]/color = #FF0000
/color/wpattern/group[14]/wp = *.bz2
/color/wpattern/group[15]/color = #FF0000
/color/wpattern/group[15]/wp = *.tgz
/color/wpattern/group[16]/color = #FF0000
/color/wpattern/group[16]/wp = *.arj
/color/wpattern/group[17]/color = #FF0000
/color/wpattern/group[17]/wp = *.taz
/color/wpattern/group[18]/color = #FF0000
/color/wpattern/group[18]/wp = *.lzh
/color/wpattern/group[19]/color = #FF0000
/color/wpattern/group[19]/wp = *.zip
/color/wpattern/group[20]/color = #FF0000
/color/wpattern/group[20]/wp = *.z
/color/wpattern/group[21]/color = #FF0000
/color/wpattern/group[21]/wp = *.Z
/color/wpattern/group[22]/color = #FF0000
/color/wpattern/group[22]/wp = *.gz
/color/wpattern/group[23]/color = #FF0000
/color/wpattern/group[23]/wp = *.7z
/color/wpattern/group[24]/color = #FF0000
/color/wpattern/group[24]/wp = *.rar
/color/wpattern/group[25]/color = #FF0000
/color/wpattern/group[25]/wp = *.xz
/color/wpattern/group[26]/color = #FF0000
/color/wpattern/group[26]/wp = *.iso
/color/wpattern/group[27]/color = #FF0000
/color/wpattern/group[27]/wp = *.lzma
/color/wpattern/group[28]/color = #FF0000
/color/wpattern/group[28]/wp = *.pkg
/color/wpattern/group[29]/color = #FF0000
/color/wpattern/group[29]/wp = *.deb
/color/wpattern/group[30]/color = #FF0000
/color/wpattern/group[30]/wp = *.rpm

# Images (Magenta)
/color/wpattern/group[31]/color = #FF00FF
/color/wpattern/group[31]/wp = *.jpg
/color/wpattern/group[32]/color = #FF00FF
/color/wpattern/group[32]/wp = *.png
/color/wpattern/group[33]/color = #FF00FF
/color/wpattern/group[33]/wp = *.gif
/color/wpattern/group[34]/color = #FF00FF
/color/wpattern/group[34]/wp = *.bmp
/color/wpattern/group[35]/color = #FF00FF
/color/wpattern/group[35]/wp = *.xpm
/color/wpattern/group[36]/color = #FF00FF
/color/wpattern/group[36]/wp = *.tif
/color/wpattern/group[37]/color = #FF00FF
/color/wpattern/group[37]/wp = *.jpeg
/color/wpattern/group[38]/color = #FF00FF
/color/wpattern/group[38]/wp = *.tiff
/color/wpattern/group[39]/color = #FF00FF
/color/wpattern/group[39]/wp = *.webp
/color/wpattern/group[40]/color = #FF00FF
/color/wpattern/group[40]/wp = *.svg
/color/wpattern/group[41]/color = #FF00FF
/color/wpattern/group[41]/wp = *.ico
/color/wpattern/group[42]/color = #FF00FF
/color/wpattern/group[42]/wp = *.heic
/color/wpattern/group[43]/color = #FF00FF
/color/wpattern/group[43]/wp = *.raw

# Backups, Logs, and Temp Files (Blue)
/color/wpattern/group[44]/color = #0000FF
/color/wpattern/group[44]/wp = *~
/color/wpattern/group[45]/color = #0000FF
/color/wpattern/group[45]/wp = *.old
/color/wpattern/group[46]/color = #0000FF
/color/wpattern/group[46]/wp = *.bak
/color/wpattern/group[47]/color = #0000FF
/color/wpattern/group[47]/wp = *.orig
/color/wpattern/group[48]/color = #0000FF
/color/wpattern/group[48]/wp = *.tmp
/color/wpattern/group[49]/color = #0000FF
/color/wpattern/group[49]/wp = *.temp
/color/wpattern/group[50]/color = #0000FF
/color/wpattern/group[50]/wp = *.swp
/color/wpattern/group[51]/color = #0000FF
/color/wpattern/group[51]/wp = *.swo
/color/wpattern/group[52]/color = #0000FF
/color/wpattern/group[52]/wp = *.log

# Text, Templates, and Configuration Files (Orange)
/color/wpattern/group[53]/color = #FFA500
/color/wpattern/group[53]/wp = *.txt
/color/wpattern/group[54]/color = #FFA500
/color/wpattern/group[54]/wp = *.md
/color/wpattern/group[55]/color = #FFA500
/color/wpattern/group[55]/wp = *.csv
/color/wpattern/group[56]/color = #FFA500
/color/wpattern/group[56]/wp = *.json
/color/wpattern/group[57]/color = #FFA500
/color/wpattern/group[57]/wp = *.xml
/color/wpattern/group[58]/color = #FFA500
/color/wpattern/group[58]/wp = *.yml
/color/wpattern/group[59]/color = #FFA500
/color/wpattern/group[59]/wp = *.yaml
/color/wpattern/group[60]/color = #FFA500
/color/wpattern/group[60]/wp = *.ini
/color/wpattern/group[61]/color = #FFA500
/color/wpattern/group[61]/wp = *.cfg
/color/wpattern/group[62]/color = #FFA500
/color/wpattern/group[62]/wp = *.conf
/color/wpattern/group[63]/color = #FFA500
/color/wpattern/group[63]/wp = *.erb
/color/wpattern/group[64]/color = #FFA500
/color/wpattern/group[64]/wp = *.epp

# Audio Files (Cyan)
/color/wpattern/group[65]/color = #00FFFF
/color/wpattern/group[65]/wp = *.mp3
/color/wpattern/group[66]/color = #00FFFF
/color/wpattern/group[66]/wp = *.wav
/color/wpattern/group[67]/color = #00FFFF
/color/wpattern/group[67]/wp = *.flac
/color/wpattern/group[68]/color = #00FFFF
/color/wpattern/group[68]/wp = *.ogg
/color/wpattern/group[69]/color = #00FFFF
/color/wpattern/group[69]/wp = *.m4a
/color/wpattern/group[70]/color = #00FFFF
/color/wpattern/group[70]/wp = *.aac
/color/wpattern/group[71]/color = #00FFFF
/color/wpattern/group[71]/wp = *.wma

# Video Files (Yellow)
/color/wpattern/group[72]/color = #FFFF00
/color/wpattern/group[72]/wp = *.mp4
/color/wpattern/group[73]/color = #FFFF00
/color/wpattern/group[73]/wp = *.mkv
/color/wpattern/group[74]/color = #FFFF00
/color/wpattern/group[74]/wp = *.avi
/color/wpattern/group[75]/color = #FFFF00
/color/wpattern/group[75]/wp = *.mov
/color/wpattern/group[76]/color = #FFFF00
/color/wpattern/group[76]/wp = *.wmv
/color/wpattern/group[77]/color = #FFFF00
/color/wpattern/group[77]/wp = *.flv
/color/wpattern/group[78]/color = #FFFF00
/color/wpattern/group[78]/wp = *.webm

# Source Code (Purple)
/color/wpattern/group[79]/color = #A020F0
/color/wpattern/group[79]/wp = *.pp
/color/wpattern/group[80]/color = #A020F0
/color/wpattern/group[80]/wp = *.c
/color/wpattern/group[81]/color = #A020F0
/color/wpattern/group[81]/wp = *.cpp
/color/wpattern/group[82]/color = #A020F0
/color/wpattern/group[82]/wp = *.h
/color/wpattern/group[83]/color = #A020F0
/color/wpattern/group[83]/wp = *.hpp
/color/wpattern/group[84]/color = #A020F0
/color/wpattern/group[84]/wp = *.py
/color/wpattern/group[85]/color = #A020F0
/color/wpattern/group[85]/wp = *.js
/color/wpattern/group[86]/color = #A020F0
/color/wpattern/group[86]/wp = *.ts
/color/wpattern/group[87]/color = #A020F0
/color/wpattern/group[87]/wp = *.html
/color/wpattern/group[88]/color = #A020F0
/color/wpattern/group[88]/wp = *.css
/color/wpattern/group[89]/color = #A020F0
/color/wpattern/group[89]/wp = *.java
/color/wpattern/group[90]/color = #A020F0
/color/wpattern/group[90]/wp = *.go
/color/wpattern/group[91]/color = #A020F0
/color/wpattern/group[91]/wp = *.rs
/color/wpattern/group[92]/color = #A020F0
/color/wpattern/group[92]/wp = *.rb
/color/wpattern/group[93]/color = #A020F0
/color/wpattern/group[93]/wp = *.php
